@mixin border-radius($borderradius){
  border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
  -moz-border-radius: $borderradius;
}

@mixin font-settings($size: 25, $colour: #acgdfd, $weight: bold,  $lh: false, $fontfamily:false) {
  @if $fontfamily {font-family: $fontfamily;}
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

